{% extends 'base.html.twig' %}


{% block body %}

    {% if error %}
    <div class="alert alert-danger">
    {{ error.messageKey }}
    </div>
    {% endif %}

    <form class="container" method="post">
    <label for="username"></label>

    </form>

{% endblock %}
